@font-face{
    font-family:  "Cooper Std Black";
    src: url("fonts/CooperBlackStd.otd");
}
body{
    background: radial-gradient(at top, Brown, Coral);
    background-attachment: fixed    
}
.bg-light {
    background-color: #f8f9fa3b!important;
}
.bg-gradiente{
    background: linear-gradient(-45deg,red,yellow);
}
h1,h2,h3,h4,.nav-link{
    font-family:  "Cooper Std Black";
    color: #EF05FA
}
h1{
    -webkit-text-stroke: 2px white;
    color: #FFBF00;
}
.btn-rocoto{
    position:absolute;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(red,yellow), radial-gradient(orange, white);
    background-origin: border-box;
    background-clip: content-box,border-box;
    color: white
}
.btn-rocoto:hover{
    text-decoration: none;
    color: yellow;
}
.btn-rocoto span{
    padding: 7px 40px;
    display: block
}
.form-control{
    border-color:orangered
}